@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
	width: 100%;
	background: linear-gradient(to top, #01883c, #276634);
	color: #312f2f;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 50px auto;
	width: 80%;
	max-width: 500px;
	gap: 10px;
	background: #262626;
	border-radius: 5px;
	color: #eee;
	padding: 10px;
}

header {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  width: 60px;
  height: 20px;
  background: #666;
  border-radius: 10px;
}

.atomo {
  width: 25px;
  animation: giro 2s infinite cubic-bezier(.68,-0.55,.27,1.55);
  height: 25px;
}

@keyframes giro {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.registores {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.registores div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input {
  height: 30px;
  width: 100px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


button {
	width: 160px;
	height: 30px;
	margin: 20px auto;
	border-radius: 5px;
	border: none;
	font-weight: 600;
	background: #eee;
	color: #262626;
	transition: .2s;
}

button:hover {
	transition: .2s;
	color: #eee;
	background: transparent;
	border: 1px solid #eee;
}